*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist",sans-serif;
}
html{
    font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
     font-family: "Poppins", sans-serif;
}
p,li,a{
    font-family: "Urbanist",sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#0062ff;
    --para-color:#504e4d;
    --font-color:#424242;
    --bg-color:#f4f9fb;
    --heading-color:#000a19;
    --h-color:#0a043c;
    --hero-heading-color:#003b99;
    --white-color:#ffffff;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    --footer-bg-color:#040d12;
}
/* layout */
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding:9rem 1.8rem ;
}
 

:is(.section-about, .section-blog,.section-course,.section-contact-homepage,.section-why--choose,.section-contact) .container:first-child{
     padding: 3.6rem 2.3rem 2.3rem 2.4rem;
}

.grid{
    display: grid;
    align-items: center;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}
.grid-three--cols{
    grid-template-columns: repeat(3,1fr);

}
.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}
/* module / reusable */
.section-common--heading{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}
.section-common--subheading{
    font-size: 2rem;
    color: var(--heading-color);
}
.section-common--title{
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.4rem;
}
.fa-brands{
    padding: 2.2rem;
    background-color: #a6c8ec;
    font-size: 2.2rem;
    border-radius: 50%;
    color:#0575eb ;
}
/* state */
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}
/* navbar section */
.section-navbar{
    width: 100%;
    
    box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px ;
    padding-left: 2rem;
    padding-right: 2rem;
    position: sticky;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}
.section-navbar .navbar ul{
    display: flex;
    gap: 2.5rem;
    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: .2rem solid var(--main-color);
        transition:all 0.3s linear ;
    }
}
& li a:hover:after{
    width: 100%;
}
}

/* hero-section */
main{
    background-image:linear-gradient(
        to top right,
        #3d86fa,
        #4484fb,
        #679eff,
        #b3d2ff,
        #ebf3fe
    ) ;
    position: relative;
}
.section-hero .grid{
    gap: 6rem;
    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        word-spacing: 0.2rem;
        color: var(--hero-heading-color);
        font-weight: 1000;
    }
    & .hero-heading{
        font-size:5.8rem ;
        line-height: 1.2;
        color: var(--hero-heading-color);
        font-weight: 600;
        font-family: "Jost";
    }
    & .hero-para{
        color: var(--white-color);
        margin: 2rem 0 4rem 0;
    }
}
.section-hero--image img{
    width: 100%;
    height: auto;
    transform:scaleX(-1);
    padding-right:4rem ;
}

.section-hero--content{
    & p{
        text-align: justify;
        
    }


}
/* shape divider */
.custom-shape-divider-bottom-1768500229 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1768500229 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1768500229 .shape-fill {
    fill: #FFFFFF;
}

/* about-section */
.section-about .container{
    padding-bottom: 1rem;
}
.section-about .grid{
    gap: 5rem;
}
.section-about .about-div{
    text-align: center;
    
}
.section-about img{
    padding: 2rem;
    background-color:whitesmoke ;
    width: 15rem;
    border-radius: 50%;
    transition: all .3s linear;
}
.icon:hover > img{
   transform: rotate(360deg);
    background: linear-gradient(to right, #0575eb, #021b79);
}

/* course section */
.section-course {
    background-color: var(--bg-color);
}
.section-course .grid{
    gap: 6rem;
}
.section-course .course-div{
  padding: 2.5rem;
}
.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);
}
.section-course .container{
    padding-bottom: 1rem;
}
.course-div:nth-of-type(2) .icon .fa-brands{
    color: #68bf9b ;
    background-color: #e7f6ef;
}
.course-div:nth-of-type(3) .icon .fa-brands{
    color: #68bf9b ;
    background-color: #e7f6ef;
}
.course-div:nth-of-type(4) .icon .fa-brands{
    color: #183d3d ;
    background-color: #ccf7f7;
}
.course-div:nth-of-type(5) .icon .fa-brands{
    color: #d988b9 ;
    background-color: rgba(247, 223, 238);
}
.course-div:nth-of-type(6) .icon .fa-brands{
    color: #ff9b50 ;
    background-color: #f6dfce;
}
.course-div:nth-of-type(7) .icon .fa-brands{
    color: #1450a3 ;
    background-color: #e7f6ef;
}

/* why choose */

.section-why--choose .container{
    gap: 8.5rem;
    padding: 2rem 0 1rem 2rem;

}
.why-choose--div{
    margin-top: 2.5rem;
}
.section-why--choose .text-align--right  .why-choose--div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.common-text--highlight{
    width: 6rem;
    aspect-ratio: 1;
    background-color: whitesmoke;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50%;
}
.choose-center--div img{
    width: 90%;
    height: auto;
}
.choose-center--div, figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.choose-center--div figure:before, .choose-center--div figure::after{
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    width: 30rem;
    height:30rem ;
    border-radius: 50%;
    z-index: -1;
   
}
.choose-center--div figure::before{
 animation: circle 5s linear infinite alternate;
}
@keyframes circle {
    0%{
        background-color: #b3d0ff;
    }
    25%{
        background-color: #80b1ff;
    }
    50%{
        background-color: #4d91ff;
    }
    75%{
        background-color: #99c0ff;
    }
    100%{
        background-color: #3381ff;
    }

    
}
.choose-center--div figure::after{
    width: 35rem;
    height: 35rem;
    background-color:whitesmoke;
    z-index: -2;
}
/* blog section */

.section-blog{
    background-color: var(--bg-color);
    & .grid{
        gap: 4rem;
    }
    & .blog{
        box-shadow: var(--btn-box-shadow);
        transition: scale 0.3s linear;
        &:hover{
            scale: 1.1;
        }
       
        & .blog-content{
            padding: 1.4rem 2.4rem 2.4rem;
        }
    }
    & img{
        width: 100%;
        height: auto;

    }
    & .blog-date{
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;
        font-size: 1.4rem;

        & .fa-solid{
            background-color: transparent;
            padding: 0;
        }
    }

    & .section-common--title{
        margin-top: 0.8rem;
        font-size: 1.4rem;
    }
}

/* contact home section */
.section-contact--homepage{
    width: 60%;
    height: auto;
    margin: 0 auto;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 4rem;
    border-radius: .2rem;
    padding:3.2rem 0 0;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: var(--white-color);
    & .grid{
        align-items: center;
    }
    gap: 6.4rem;
    & .container{
        padding-top: 0;
    }
}
.contact-title{
    font-size: 3rem;
    line-height: 1;
}
.contact-content p{
    margin: 1rem 0 2rem 0;
}
.section-contact--homepage a{
    color: var(--white-color);
    text-transform: capitalize;
}
.section-contact--homepage .fa-solid{
    padding: 0;
    color:white;
}
.section-contact--homepage img{
    width: 90%;
    height: auto;
}

/* actual contact page */
.section.blog .container{
    margin-left: 2rem;
}
.section-contact{
    & .grid{
        align-items: center;
        gap: 6rem;
    }
}
.mb-3{
    margin-bottom: 3rem;
}
.label{
    font-size: 1.4rem;
    display: block;
    text-transform: capitalize;
}
.contact-content .grid{
    gap: 6rem;
}
input, textarea{
    width: 100%;
    padding:1.2rem 2.2rem;
    font-size: 1.4rem;
}

::placeholder{
    font-size: 1.4rem;
    letter-spacing: .1rem;
}
.btn-submit{
    font-size: 1.6rem;
    border: none;
    text-transform: capitalize;
}
 input:focus-visible{
    outline: 0.1rem solid var(--btn-hover-bg-color);
 }

/* footer */
footer{
    background-color: var(--footer-bg-color);
    padding-top:15rem ;
}
footer .container{
    padding: 0 0 5rem 0;
}
footer *{
    color: var(--white-color);

}
footer .grid{
    text-align: right;
}
.footer-subheading{
    font-size: 2.2rem;
    font-weight: 600;
}
.footer-1--div p{
    margin: 1rem 0 3rem 0;

}
.footer-1--div {
    text-align: right;
  & .social-footer--icons{
    gap: 2rem;
    }
}
.footer-4--div{
    gap: 1rem;
    padding-right: 5rem;
}

/* start of scrollbar section */

/* width */
::-webkit-scrollbar{
    width: 1rem;
}
 
/* Track */
::-webkit-scrollbar-track{
    background-color: #b3d0ff;
}

/* Handle */
::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: var(--heading-color);
}

/* end of scroll bar section  */

/**** media queries Section ****/

 /* @media(max-width:810px){ */
 @media(width <= 1400px){
    html{
        font-size: 56.25%;
        /* 1rem = 9px */
    }

    .section-hero img{
        width: 90%;
    }
 }

 @media(width <= 1220px){
    html{
        font-size: 54%;
    }

    :is(
        .section-about,
        .section-blog,
        .section-course,
        .section-contact--homepage,
        .section-why--choose
    )
    .grid{
        gap: 6.4rem;
    }
 }

 
 @media(width <= 980px){
    .section-hero{
        height: auto;
        padding-bottom:5rem ;
        & .grid-two--cols{
            grid-template-columns: 1fr;

            & .section-hero--content{
                order: 2;
            }

            & .section-hero--image{
                order: 1;

                & img{
                    width: 50%;
                }
            }
        }
    }

    .section-contact {
        & .container{
            padding: 0;
        }
    }
    .section-about .about-div {
        text-align: left;
    }

    footer .grid-four--cols{
        grid-template-columns:repeat(3,minmax(100px, 1fr)) ;
        text-align: center;

        & .footer-1--div{
            grid-row: 2/3;
            grid-column:1/-1 ;
            margin-top: 3.2rem;
            text-align: center;
            }
        }
    }

   
    @media(width <= 1000px){
        .section-course .grid-four--cols{
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        }

        .section-why--choose {
             & .container{
                    margin-left: 0;
                }
            & .choose-left--div{
                order: 2;
            }

            & .choose-right--div{
                order: 3;
            }
            & .choose-center--div{
                order: 1;
               
                & figure::before{
                    width: 0;
                    height: 0;
                    background-color: transparent;
                    padding: 0;
                }

                & figure::after{
                     width: 0;
                    height: 0;
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }
     @media (width <= 768px){
        .grid-four--cols,.grid-three--cols{
            grid-template-columns: 1fr;
        }

    .section-navbar .container{
        display: flex;
        flex-direction: column;

        & .navbar ul{
            gap: 2.4rem;
        }
        & .logo{
            text-align: center;
            margin-bottom: 2.4rem;
            }
        }

        .section-hero .grid .hero-heading{
            font-size: 3.8rem;
        }
        .section-why--choose{
            & .img{
                width: 30%;
            }

            & .grid{
                gap: 0;
            }

          & .text-align--right .why-choose--div{
           
            align-items: start;
            text-align: left;
           }
        }

        .section-contact--homepage {
          padding: 0 1rem 0.5rem 1rem;
          & .btn{
            display: block;
            text-align: center;
            }

             & .grid{
                gap: .2rem;
                padding-top: 0;
            }
       
        }
        .contact-title{
            font-size: 2.2rem;
        }

        & .contact-image{
            width: auto;
        }
        & .grid-two--cols{
            grid-template-columns: 1fr;
        }
        :is(.section-contact--homepage) .container:first-child{
            padding: 6.4rem 0rem 2.4rem 0rem;
        }

        /* .section-blog */

        .section-blog{
            & .section-common--subheading{
                padding-top: 2rem;
            }
        }
    }
